<div class="container">
  <h1>menu</h1>

  <h1><%= @restaurant.name %></h1>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#shopping_cart">
  Shopping Cart
</button>


  <h2>MENU ITEMS:</h2>
  <% @restaurant.menu_items.each do |menu_item| %>
  <h3><%= menu_item.name %></h3>
  <p><%= menu_item.description %></p>
  <p> <%=menu_item.price %></p>
  <p>
    <%= simple_form_for([@reservation, @order_item]) do |f| %>
      <%= f.input :menu_item_id, as: :hidden, input_html: { value: menu_item.id } %>
      <%= f.submit value: "Add Item" %>
    <% end %>
  <hr>
  <% end %>
</div>


<!-- Modal -->
<div class="modal fade" id="shopping_cart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4> Your current shopping cart</h4>
        <% @reservation.order_items.each do |item| %>
          <%= item.menu_item.name %> - <%= item.menu_item.price %>
        <% end %>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
