


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="6000">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "welunch1.jpg", class: "img-banner" %>
    </div>
    <div class="item">
      <%= image_tag "welunch2.jpg", class: "img-banner" %>
    </div>
    <div class="item">
      <%= image_tag "welunch3.jpg", class: "img-banner" %>
    </div>
  </div>

  <div class="content-carousel">
    <div class="align-center">
      <div class="flex-item">
        <h1>WeLunch</h1>
        <p>Say goodbye to long waits</p>
        <form action="/">
          <div class="input-group">

            <form action="/" class="inline-form">
              <input type="text" class="form-control" name="query" placeholder="Search for...">
              <span class="input-group-btn">
                <!-- <button class="btn btn-primary" type="button">Go!</button> -->
              </span>
            </form>
          </div>
        </form>
        <div>
        </div>
      </div>

    </div>
  </div>
</div>





<div class="page-layout">
  <div class="container">
    <div class="row">
      <% @restaurants.each do |restaurant| %>
      <div class="col-xs-12 col-sm-6 col-md-4">

        <%= link_to restaurant_path(restaurant) do %>
        <div class="card" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(' <%= image_path restaurant.picture %>');">

          <p class="card-category"><%= restaurant.name %></p>
          <div class="card-description">
          </div>
        </div>
        <% end %>
        <h4><%= restaurant.name %></h4>
      </div>
      <% end %>
    </div>
  </div>
  <div id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>">

  </div>
</div>












<%= content_for(:after_js) do  %>
<script>
  $('.carousel').carousel()
</script>
<% end %>
