


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="6000">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "welunch1.jpg", class: "img-banner" %>
    </div>
    <div class="item">
      <%= image_tag "welunch2.jpg", class: "img-banner" %>
    </div>
    <div class="item">
      <%= image_tag "welunch3.jpg", class: "img-banner" %>
    </div>
  </div>

  <div class="content-carousel">
    <div class="align-center">
      <div class="flex-item">
        <h1>WeLunch</h1>
        <p>Say goodbye to long waits</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
          </span>
        </div>
        <div>
        </div>
      </div>

    </div>
  </div>
</div>





<div class="content">
  <div class="cards-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">


        <div class="card" style="background-image: url(<%= image_path 'restaurant1.jpg' %>)">
          Pizza Street
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/berlin.jpg)">
          Berlin
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/shanghai.jpg)">
          Shanghai
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/barcelona.jpg)">
          Barcelona
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/rio.jpg)">
          Rio
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/berlin.jpg)">
          Berlin
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/shanghai.jpg)">
          Shanghai
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/barcelona.jpg)">
          Barcelona
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/rio.jpg)">
          Rio
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/berlin.jpg)">
          Berlin
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/restaurant1.jpg)">
          Shanghai
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/barcelona.jpg)">
          Barcelona
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/rio.jpg)">
          Rio
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/berlin.jpg)">
          Berlin
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/shanghai.jpg)">
          Shanghai
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/barcelona.jpg)">
          Barcelona
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/rio.jpg)">
          Rio
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/berlin.jpg)">
          Berlin
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/shanghai.jpg)">
          Shanghai
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/barcelona.jpg)">
          Barcelona
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(images/rio.jpg)">
          Rio
        </div>
      </div>
    </div>
  </div>
  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>
</div>











<%= content_for(:after_js) do  %>
  <script>
    $('.carousel').carousel()
  </script>
<% end %>
