


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">






  <!-- Wrapper for slides -->
  <div class="carousel-inner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), role="listbox">

    <div class="item carousel-item active" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner25.jpg" %>)">
    </div>

     <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner24.jpg" %>)">
    </div>

     <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner23.jpg" %>)">
    </div>
     <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner21.jpg" %>)">
    </div>
    <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner29.jpg" %>)">
    </div>
     <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner28.jpg" %>)">
    </div>
    <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner27.jpg" %>)">
    </div>
     <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner26.jpg" %>)">
    </div>
     <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner20.jpg" %>)">
    </div>
     <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner18.jpg" %>)">
    </div>
    <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner17.jpg" %>)">
    </div>
     <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner16.jpg" %>)">
    </div>
     <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner15.jpg" %>)">
    </div>
    <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner14.jpg" %>)">
    </div>
     <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner13.jpg" %>)">
    </div><div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner12.jpg" %>)">
    </div>
     <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner11.jpg" %>)">
    </div>
     <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner10.jpg" %>)">
    </div>
    <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner9.jpg" %>)">
    </div>
     <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner8.jpg" %>)">
    </div>
    <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner7.jpg" %>)">
    </div>
     <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner5.jpg" %>)">
    </div>
     <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner4.jpg" %>)">
    </div>
     <div class="item carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "banner3.jpg" %>)">
    </div>



  </div>

  <div class="content-carousel">
    <div class="align-center">
      <div class="flex-item">
        <h1>WeLunch</h1>
        <p>Pre-order & say goodbye to waiting at restaurants</p>
        <form action="/">
          <div class="input-group search-style-home">

            <form action="/" class="inline-form">
              <input type="text" class="form-control" name="query" placeholder="Search for...">
              <span class="input-group-btn">
               <!--  <button class="btn btn-primary" type="button">Go!</button> -->
              </span>
            </form>
          </div>
        </form>
        <div>
        </div>
      </div>

    </div>
  </div>
</div>





<div class="page-layout">
  <div class="container">
    <div class="row">
      <% @restaurants.each do |restaurant| %>
      <div class="col-xs-12 col-sm-6 col-md-4">

        <%= link_to restaurant_path(restaurant) do %>
        <div class="card" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(' <%= image_path restaurant.picture %>');">

          <p class="card-category"><%#= restaurant.name %></p>
          <div class="card-description">
          </div>
        </div>
        <% end %>
        <h4><%= restaurant.name %></h4>
      </div>
      <% end %>
    </div>
  </div>
  <div id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>">

  </div>
</div>












<%= content_for(:after_js) do  %>
<script>
  $('.carousel').carousel()
</script>
<% end %>
