<!-- <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%)"> </div> -->



<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="5000">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "welunch1.jpg" %>
    </div>
    <div class="item">
      <%= image_tag "welunch2.jpg" %>
    </div>
    <div class="item">
      <%= image_tag "welunch3.jpg" %>
    </div>
  </div>

  <div class="content-carousel">
    <div class="align-center">
      <div class="flex-item">
        <h1>WeLunch</h1>
        <p>Say goddbye to long waits in restaurants</p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div>
      <div>
    </div>
  </div>

</div>



<div class="container">
  <h1>Restaurants</h1>
  <% @restaurants.each do |r| %>
  <%= link_to restaurants_path do%>
  <h3><u><%= r.name %></u></h3>
  <p><%= r.address %></p>
  <p><%= r.category %></p>
  <%= link_to "reservations", new_restaurant_reservation_path(r), class: "btn btn-primary" %>
  <% end %>
  <% end %>
</div>








