<style>
#restaurant-banner {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.restaurant-banner-content {
  color: white;
}
</style>

<div id="restaurant-banner" style="background-image: url(<%= image_path @restaurant.picture %>); background-size: cover;">
  <div class="restaurant-banner-content">
    <!--     <h2><#%= @restaurant.name %></h2> -->
    <p> Category: <%= @restaurant.category %></p>
    <p>Address: <%= @restaurant.address %></p>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 col-sm-6" id="make-reservation">


   <%= link_to "Make a reservation", restaurant_path(@restaurant), class: "btn btn-primary" %>
   <% @restaurant.reservations.each do |d| %>
   <p><%= d.time.to_formatted_s(:long) %></p>
   <% end %>
    <%= render "reservations/form" %>
 </div>





 <div class="col-xs-12 col-sm-6">
  <div class="menu">
    <h2>Drinks</h2>
    <p><% @restaurant.menu_items.where(menu_category: 'drinks').each do |item| %></p>
    <%=item.name%>
    <%=item.description%>
    <p> $<%=item.price%></p>
    <%end%>
    <h2>Appetizer</h2>
    <p><% @restaurant.menu_items.where(menu_category: 'appetizer').each do |item| %></p>
    <%=item.name%>
    <%=item.description%>
    <p> $<%=item.price%></p>
    <%end%>
    <h2>Entrees</h2>
    <p><% @restaurant.menu_items.where(menu_category: 'entrees').each do |item| %></p>
    <%=item.name%>
    <%=item.description%>
    <p> $<%=item.price%></p>
    <%end%>
  </div>
</div>
</div>




