
<div class="container">
  <div class="row">
    <div class="col-md-4 tall">

      <div class="sticky">
        <div class="restaurant-info">
          <h2><%= @restaurant.name %></h2>
          <p><%= @restaurant.address %></p>
        </div>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path @restaurant.picture %>);">
          <div class="card-category"><%= @restaurant.category %></div>
        </div>

        <div class="reservation-form">
          <%= render "reservations/form" %>
        </div>

      </div>

    </div>

    <div class="col-md-8">
      <div class="menu-container">

        <% @restaurant.menu_items.each do |item| %>

        <div class="menu">
          <div class='menu-upvote'>
            <i class="fa fa-cutlery" aria-hidden="true"></i>
            <div class='menu-count'></div>
          </div>

          <div class='menu-body'>
           <p><%= item.menu_category %></p>
           <h3><%= item.name %></h3>
           <p><%= item.description %></p>
         </div>

         <div class="price">$<%= item.price %></div>

            <!-- <ul class="list-inline menu-controls hidden-sm hidden-xs">
              <li><a href=""><i class="fa fa-heart"></i></a></li>
              <li><a href=""><i class="fa fa-share"></i></a></li>
              <li><a href=""><i class="fa fa-star"></i></a></li>
            </ul> -->
          </div>

          <% end %>

        </div>

      </div>
    </div>
  </div>





