<div class="container">
<h1>Confirmation  </h1>
  <div class="row">
  <div class="col-xs-12 col-m-4">
<p>Reservation: <%= @reservation.time.to_formatted_s(:long) %></p>
  <p>People: <%= @reservation.number_of_people %></p>
  <% @items.each do |item| %>
  <p>Name: <%= item.menu_item.name %></p>
  <p>Description: <%= item.menu_item.description %></p>
  <p>Price: <%= item.menu_item.price %></p>

  <% end %>
 <p>Your bill: <%= @reservation.cart %></p>
  </div>
  </div>
</div>


