<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-4">
      <h1>Your Confirmation number B904X </h1>
      <div class="menu-container">
        <div class="reciept">
          <p>   Reservation: <%= @reservation.time.to_formatted_s(:long) %></p>
          <p>   People: <%= @reservation.number_of_people %></p>
        </div>
        <% @items.each do |item| %>



        <div class="menu">
          <div class="menu-body">
          <h3> <%= item.menu_item.name %></h3>
            <p> <%= item.menu_item.description %></p>
          </div>
        <div>
          <p>$<%= item.menu_item.price %></p>
        </div>
        </div>
        <% end %>

      </div>
      <h2>Total Amount: $<%= @reservation.cart %></h2>
    </div>
    <div class="col-md-6 col-md-4">

    </div>
  </div>
</div>


